<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div mat-dialog-content>
        <p>Select the number of rows</p>
        <mat-form-field appearance="standard">
        <mat-label>Rows</mat-label>
        <input #selectedRows matInput formControlName="rows" type="number">
        <mat-error *ngIf="rows.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!form.valid">Ok</button>
        <button mat-button type="button" mat-dialog-close>Cancel</button>
    </div>
</form>
  
  